{% extends 'base.html' %}
{% block title %} About {% endblock title %}

{% block body %}
<div class="container my-5">
    <h1>About This Web Application</h1>
    <p>This is a simple Flask-based Todo web application where you can:</p>
    <ul>
        <li>Add new tasks to your Todo list.</li>
        <li>Update existing tasks.</li>
        <li>Delete tasks that are no longer needed.</li>
        <li>View all your tasks in a table format.</li>
    </ul>
    <p>It is built using Flask, SQLAlchemy, and Bootstrap for styling.</p>
</div>
{% endblock body %}